.Login {
  background-color: #212529;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.Title {
  color: #fff;
  font-family: "Lato-BoldItalic";
  font-size: 600%;
  text-align: center;
  margin-top: 2%;
}

.LoginForm {
  margin-top: 5%;
  margin-left: 40%;
  width: 20%;
  opacity: 0.8;
}

.LoginBtn {
  width: 100%;
  font-family: "Lato-Bold";
}
