.MainNavBar {
  z-index: 1;
  cursor: default;
}

.MainTitle {
  font-family: "Lato-Black";
}

.MenuList {
  font-family: "Lato-Regular";
}

.faIcon {
  margin: 0.25rem;
}

::-webkit-scrollbar {
  display: none;
}
